// import de variables

@import"../utilidades/variables";

// import de mixin

@import"../utilidades/mixin";


/* Parámetros generales */
body {
    background-color: $color-principal;
}

/* Header */
header {
    height: 40vh;
    @include flex;
    background-color: $color-header;
}



.amarillo-bg {
    background-color: $color-principal;
}

.offcanvas-header {
    background-color: $color-principal;
}

.offcanvas-body {
    background-color: $color-principal;
}

.dropdown-menu {
    background-color: $color-principal;
}

.logo {
    img {
        margin: 5rem;
        height: 25vh;
    }

}

main {
    div {
        img {
            @include medidas(100%, 100%);
        }
    }


}

/* Estilos para dispositivos móviles */

/* Configuración de la sección "index" */
.index {
    height: 70vh;
    margin: 1.8rem 1.8rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 20%);
    row-gap: 2rem;
    align-content: center;
}

.index {
    img {
        object-fit: contain;
    }

}

/* Configuración de la sección "carta" (menú) */
.lista {
    h2 {

        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
        color: whitesmoke;
        text-align: center;
        margin: 1rem;
        background-color: #592E0B;


    }

    h2:hover {
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
        background-color: black;
    }
}

.n-plato {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    color: black;
    text-align: start;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);

}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    text-align: justify;
}



/* Configuración de la sección "ubicación" */
.mapa {
    width: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 2.5rem;
    box-shadow: 10px 10px 20px rgba(0.4, 0.4, 0.4, 0.4);
}

main {
    .ubicacion {

        h1 {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: italic;
            text-align: center;
            color: $color-textos;
        }

        h2 {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: italic;
            text-align: center;
            color: $color-textos;
        }
    }


}

/* Configuración de la sección "galeria" */
.galeria {
    img {
        object-fit: cover;
    }

}

.galeria {
    height: 70vh;
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    row-gap: 2.5rem;
    align-content: center;
}

/* Configuración de la sección "contacto" */
.redes {
    img {
        object-fit: contain;

    }

}

.redes {
    height: 70vh;
    margin: 2rem 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    row-gap: 2.5rem;
    align-content: center;
}

footer {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    justify-items: center;
    margin: 2rem;
}


/* Estilos para pantallas de escritorio */
@media screen and (min-width: 1024px) {

    /* Adaptación a pantallas de escritorio para la sección "carta" */
    .n-plato {
        text-align: center;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    }

    .lista {

        h3 {
            text-align: justify;
            border-style: solid;

        }
    }


    /* Adaptación a pantallas de escritorio para la sección "ubicación" */
    .mapa {
        margin: 2rem 20rem;
        width: 60%;
        box-shadow: 10px 10px 20px rgba(0.4, 0.4, 0.4, 0.4);
    }

    /* Adaptación a pantallas de escritorio para la sección "galeria" */
    .galeria {
        grid-template-columns: 1fr repeat(2, 1fr);
        grid-template-rows: 0.5fr;
        column-gap: 1rem;
        box-shadow: 10px 10px 20px rgba(0.4, 0.4, 0.4, 0.4);
    }

    /* Adaptación a pantallas de escritorio para la sección "contacto" */
    .redes {
        width: 60%;
        grid-template-columns: 1fr repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 20rem;
        margin: 1rem 20rem;
    }

}